@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root{
  --mainBlue:#40ACF1;
  --transparentBlue:rgba(64, 172, 241,0.7);
  --mainWhite:#FFFFFF;
  --mainBlack:#292F36;
  --mainGrey:rgb(216, 214, 214);
  --mainYellow:#e3b505;
}


body{
  font-family: 'Roboto', sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}
/* REM values to target root element 1REM = 16px */

/* navbar styles  */
.navbar
{
  background-color: var(--mainWhite);
}
.navbar-icon
{
font-size: 2rem;
color: var(--mainBlue);
}
.navbar-toggler
{
  outline-color: var(--mainBlue) !important;
}
.nav-link
{
  color: var(--mainBlack);
  text-transform: capitalize;
}
.nav-link:hover
{
  color: var(--mainBlue);
}
.nav-icon{
  font-size: 1.5rem !important;
  color: var(--mainBlue);
  text-decoration: none !important;
  transition-property: color;
  transition-duration: 1.2s;
  animation-timing-function: linear;
}
.nav-icon:hover
{
  color: var(--mainBlack);
}

/* Header Styling */

.header
{clip-path: polygon(0 0,100% 0,100% 95%,50% 100%,0 95%);
  color: var(--mainWhite);
  overflow: hidden;
}
.height-max
{
  min-height: calc(100vh - 76px);
  background: url('../img/headerBcg.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation:zoom 15s infinite 5s;
}
@keyframes zoom
{
  0%{
    transform: scale(1);
  }
  50%{
transform: scale(1.2) 
translateX(-5%)
;
  }
  100%{
transform: scale(1);
  }
}
.title-heading
{
  background: rgb(0,0,0,0.4, green, blue);
  border-left: .3rem solid var(--mainBlue);
}
.title{
  font-weight: 700;
  font-size: 1.9rem;
}
@media screen  and (min-width:768px) {
  .title
  {
    font-size: 3rem;
  }
}
.title-icon
{
  color: var(--mainBlue);
  text-decoration: none !important;
  transition: .5s linear;
}
.title-icon:hover
{
  color: var(--mainBlue);
  opacity: .6;
}

/* Section title  */
.section-title-special
{
  background-color: var(--transparentBlue);
  color: var(--mainWhite);
  padding: .5rem 2rem;
  clip-path: polygon(10% 0,100% 0,90% 100%,0 100%);
}
/* skills styles */
.skills-icon{
  font-size: 3rem;
  color: var(--mainYellow);
  background: var(--mainGrey);
}
.skills-icon:hover
{
  color: var(--mainYellow);
}
.skills-underline{
  width: 4rem;
  height: 0.3rem;
  background-color: var(--mainBlue);
  margin: 1rem auto;
}
/* preLoader */
.preloader{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--mainWhite);
  z-index: 999;
}
.hide-preloader
{
  display: none !important;
}